{% extends 'user/base_user.html' %}

{% load static %}

{% block content %}
<div style="margin-top: 100px;">
    <!-- Cart -->
    <div class="cart_container container">
        <div class="row">
            <div class="col">
                <h2 class="cart_title">Your Shopping Cart</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="cart_bar d-flex flex-row align-items-center justify-content-start">
                    <div class="cart_bar_title_name">Product</div>
                    <div class="cart_bar_title_content ml-auto">
                        <div
                            class="cart_bar_title_content_inner d-flex flex-row align-items-center justify-content-end">
                            <div class="cart_bar_title_price">Price</div>
                            <div class="cart_bar_title_quantity">Quantity</div>
                            <div class="cart_bar_title_total">Total</div>
                            <div class="cart_bar_title_button"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="cart_products">
                    <ul>
                        <li
                            class="cart_product d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
                            <!-- Product Image -->
                            <div class="cart_product_image"><img src="{% static 'images/cart_product_1.jpg' %}" alt="">
                            </div>
                            <!-- Product Name -->
                            <div class="cart_product_name"><a href="{% url 'home' %}">2 Piece Swimsuit</a></div>
                            <div class="cart_product_info ml-auto">
                                <div
                                    class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start">
                                    <!-- Product Price -->
                                    <div class="cart_product_price">$35.00</div>
                                    <!-- Product Quantity -->
                                    <div class="product_quantity_container">
                                        <div class="product_quantity clearfix">
                                            <input id="quantity_input" type="number" min="1" value="1"
                                                style="width: 60px; font-size: 16px; text-align: center;" />
                                            <div class="quantity_buttons">
                                                <div id="quantity_inc_button" class="quantity_inc quantity_control">
                                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                </div>
                                                <div id="quantity_dec_button" class="quantity_dec quantity_control">
                                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Products Total Price -->
                                    <div class="cart_product_total">$35.00</div>
                                    <!-- Product Cart Trash Button -->
                                    <div class="cart_product_button">
                                        <button class="cart_product_remove"><img src="{% static 'images/trash.png' %}"
                                                alt=""></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="cart_control_bar d-flex flex-md-row flex-column align-items-start justify-content-start">
                    <button class="button_clear cart_button btn btn-secondary">Clear Cart</button>
                    <button class="button_update cart_button btn btn-primary">Update Cart</button>
                    <div style="margin-left: 520px;">
                        <a href="{% url 'total_products' %}"><button
                                class="button_update cart_button_2 btn btn-info ml-md-auto " d>Continue
                                Shopping</button></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row cart_extra">
            <!-- Cart Coupon -->
            <div class="col-lg-6">
                <div class="cart_coupon">
                    <div class="cart_title">Coupon Code</div>
                    <form action="#" class="cart_coupon_form d-flex flex-row align-items-start justify-content-start"
                        id="cart_coupon_form">
                        <input type="text" class="cart_coupon_input form-control" placeholder="Coupon code"
                            required="required">
                        <button class="button_clear cart_button_2 btn btn-primary">Apply Coupon</button>
                    </form>
                </div>
            </div>
            <!-- Cart Total -->
            <div class="col-lg-5 offset-lg-1">
                <div class="cart_total">
                    <div class="cart_title">Cart Total</div>
                    <ul>
                        <li class="d-flex flex-row align-items-center justify-content-start">
                            <div class="cart_total_title">Subtotal</div>
                            <div class="cart_total_price ml-auto">$35.00</div>
                        </li>
                        <li class="d-flex flex-row align-items-center justify-content-start">
                            <div class="cart_total_title">Shipping</div>
                            <div class="cart_total_price ml-auto">$5.00</div>
                        </li>
                        <li class="d-flex flex-row align-items-center justify-content-start">
                            <div class="cart_total_title">Total</div>
                            <div class="cart_total_price ml-auto">$40.00</div>
                        </li>
                    </ul>
                    <a href="{% url 'useraddress' %}?from_cart=true"><button
                            class="cart_total_button btn btn-success">Proceed to Checkout</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}