{% extends 'user/base_user.html' %}

{% block content %}
<div style="margin-top: 150px;">
    <div class="container my-5">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'edit_address' edit_address.id %}" method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-row text-center mb-4">
                        <div class="col">
                            <h2>Edit Address</h2>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="inputHouseName">House Name:</label>
                            <input type="text" class="form-control" id="Edited_House_name" name="Edited_House_name"
                                placeholder="House Name" value="{{ edit_address.house_name }}" required>
                            <div class="invalid-feedback">
                                Please provide a valid House Name.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="inputPostOffice">Post Office:</label>
                            <input type="text" class="form-control" id="Edited_Post_office" name="Edited_Post_office"
                                placeholder="Post Office" value="{{ edit_address.postoffice }}" required>
                            <div class="invalid-feedback">
                                Please provide a valid Post Office.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="inputStreet">Street:</label>
                            <input type="text" class="form-control" id="Edited_Street" name="Edited_Street" placeholder="Street"
                                value="{{ edit_address.street }}" required>
                            <div class="invalid-feedback">
                                Please provide a valid Street.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="inputCity">City:</label>
                            <input type="text" class="form-control" id="Edited_City" name="Edited_City" placeholder="City"
                                value="{{ edit_address.city }}" required>
                            <div class="invalid-feedback">
                                Please provide a valid City.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="inputState">State:</label>
                            <input type="text" class="form-control" id="Edited_State" name="Edited_State" placeholder="State"
                                value="{{ edit_address.state }}" required>
                            <div class="invalid-feedback">
                                Please provide a valid State.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="inputCountry">Country:</label>
                            <input type="text" class="form-control" id="Edited_Country" name="Edited_Country"
                                placeholder="Country" value="{{ edit_address.country }}" required>
                            <div class="invalid-feedback">
                                Please provide a valid Country.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="inputPinCode">Pin Code:</label>
                            <input type="text" class="form-control" id="Edited_Pin_code" name="Edited_Pin_code"
                                placeholder="Pin Code" value="{{ edit_address.pin_code }}" required>
                            <div class="invalid-feedback">
                                Please provide a valid Pin Code.
                            </div>
                        </div>
                    </div>
                    <div class="form-row text-center">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
