{% extends 'user/base_user.html' %}

{% load static %}

{% block content %}

<!-- Home Slider -->
<div class="home">
    <div class="home_slider_container">
        <div class="owl-carousel owl-theme home_slider">
            <div class="owl-item">
                <div class="home_slider_background" style="background-image: url('{% static 'images/3.png' %}');"></div>
                <div class="home_slider_content">
                    <div class="home_slider_content_inner">
                        <div class="home_slider_subtitle">RWM</div>
                        <div class="home_slider_title">RIDE WITH ME</div>
                    </div>
                </div>
            </div>
            <div class="owl-item">
                <div class="home_slider_background" style="background-image: url('{% static 'images/4.png' %}');"></div>
                <div class="home_slider_content">
                    <div class="home_slider_content_inner">
                        <div class="home_slider_subtitle">RWM</div>
                        <div class="home_slider_title">RIDE WITH ME</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product -->
<div class="content_wrapper" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <!-- Product Image -->
            <div class="col-lg-7">
                <div class="product_image">
                    <div class="product_image_large">
                        <img src="{% static 'images/Ultimate cfr di2.jpg' %}" alt="" />
                    </div>
                </div>
                <!-- Product Quantity -->
                <div class="product_quantity_container mt-3">
                    <span style="font-weight: bold;">Quantity</span>
                    <div class="product_quantity clearfix d-flex">
                        <span class="quantity_input_container" style="border: 1px solid #ccc; border-radius: 4px; padding: 5px;">
                            <input id="quantity_input" type="number" min="1" value="1" style="border: none; width: 40px; font-size: 16px; text-align: center;" />
                        </span>
                    </div>
                </div>
                <!-- Product Size -->
                <div class="product_size_container mt-3">
                    <span style="font-weight: bold;">Size</span>
                    <div class="product_size mt-2">
                        <ul class="d-flex flex-row align-items-center" style="list-style-type: none; padding: 0;">
                            <li class="mr-3">
                                <input type="radio" id="radio_1" name="product_radio" class="regular_radio radio_1" />
                                <label for="radio_1">XS</label>
                            </li>
                            <li class="mr-3">
                                <input type="radio" id="radio_2" name="product_radio" class="regular_radio radio_2" checked />
                                <label for="radio_2">S</label>
                            </li>
                            <li class="mr-3">
                                <input type="radio" id="radio_3" name="product_radio" class="regular_radio radio_3" />
                                <label for="radio_3">M</label>
                            </li>
                            <li class="mr-3">
                                <input type="radio" id="radio_4" name="product_radio" class="regular_radio radio_4" />
                                <label for="radio_4">L</label>
                            </li>
                            <li>
                                <input type="radio" id="radio_5" name="product_radio" class="regular_radio radio_5" />
                                <label for="radio_5">XL</label>
                            </li>
                        </ul>
                    </div>
                    <div class="button cart_button mt-3"><a href="#">add to cart</a></div>
                    <h2 style="margin-top: 200px; font-weight: bold;">Similar Bikes</h2>
                </div>
            </div>
            <!-- Product Content -->
            <div class="col-lg-5">
                <div class="product_content">
                    <div class="product_name">
                        <h2>Ultimate CFR Di2</h2>
                    </div>
                    <div class="product_price">7,70,027.87 ₹</div>
                    <div class="rating rating_4 mt-2" data-rating="4">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <!-- In Stock -->
                    <div class="in_stock_container mt-2">
                        <div class="in_stock in_stock_true"></div>
                        <span style="font-weight: bold;">in stock</span>
                    </div>
                    <div class="product_text mt-3">
                        <p>
                            Developed by industry-leading engineers, built with the finest materials: the Ultimate CFR Di2 is a pro-level bike that redefines the meaning of world-class racing performance.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Related Products -->
        <div class="row">
            <div class="col-lg-3">
                <div class="card mt-4" style="width: 100%;">
                    <img src="{% static 'images\Grizl CF SLX 8 Di2.png' %}" class="card-img-top" alt=" ">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold;">Grizl CF SLX 8 Di2</h5>
                        <p class="card-text text-justify">Cover big distances at record speed. This bike combines the superlight, adventure-ready Grizl CF SLX frame with top-end components like electronic Shimano shifting and carbon wheels.</p>
                        <h5 style="font-weight: bold;">₹3,85,106.89</h5>
                        <div class="button cart_button mt-3"><a href="#">add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card mt-4" style="width: 100%;">
                    <img src="{% static 'images\Sender CFR Mullet.jpg' %}" class="card-img-top" alt=" ">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold;">Sender CFR Mullet</h5>
                        <p class="card-text text-justify">World Cup proven: whether it's rough rooty sections, huge freeride lines, or rapid downhill tracks, when things get fast and techy, get over the line in record time with the Sender CFR.</p>
                        <h5 style="font-weight: bold; margin-top: 45px;">₹4,84,536.42</h5>
                        <div class="button cart_button mt-3"><a href="#">add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card mt-4" style="width: 100%;">
                    <img src="{% static 'images\Roadlite 4.jpg' %}" class="card-img-top" alt=" ">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold;">Roadlite 4</h5>
                        <p class="card-text text-justify">Lightweight, sporty, and agile. The Roadlite 4 is a fitness bike perfect for zippy movement and heart-pumping workouts. It turns heads in the city with its stunning design, too.</p>
                        <h5 style="font-weight: bold; margin-top: 45px;">₹53,749.21</h5>
                        <div class="button cart_button mt-3"><a href="#">add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card mt-4" style="width: 100%;">
                    <img src="{% static 'images\Dude CF 9.png' %}" class="card-img-top" alt=" ">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold;">Dude CF 9</h5>
                        <p class="card-text text-justify">The Dude CF 9 is the ultimate all-round fatbike. With a range of premium components, it's ready for adventure anywhere, any time, on any terrain. What about you?</p>
                        <h5 style="font-weight: bold; margin-top: 45px;">₹1,77,984.48</h5>
                        <div class="button cart_button mt-3"><a href="#">add to cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
