{% extends 'user/base_user.html' %}

{% block content %}
<div style="margin-top: 150px;">
<div class="container mt-5">
    <h2 class="mb-4" style="font-weight: bold;">Address List</h2>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>House Name</th>
                        <th>Post Office</th>
                        <th>Street</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Country</th>
                        <th>Pin Code</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for address in addresses %}
                    <tr>
                        <td>{{ address.house_name }}</td>
                        <td>{{ address.postoffice }}</td>
                        <td>{{ address.street }}</td>
                        <td>{{ address.city }}</td>
                        <td>{{ address.state }}</td>
                        <td>{{ address.country }}</td>
                        <td>{{ address.pin_code }}</td>
                        <td>
                            <a href="{% url 'edit_address' address.id %}" class="btn btn-sm btn-primary mr-2">Edit</a>
                            <a href="{% url 'delete_address' address.id %}" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center mt-4">
            <a href="{% url 'add_address' %}" class="btn btn-primary">
                <h4>Add Address</h4>
            </a>
        </div>
    </div>
</div>
</div>
{% endblock %}