{% extends 'adm/base.html' %}

{% load static %}

{% block content %}
<div class="card mb-4" style="width: 100%;">
    <div class="card-header">
        <h2>Categories</h2>
    </div>
    <div class="card-body">
        <h5 class="mb-4">Category List</h5>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through categories here -->
                    {% for cat in categories %}
                    <tr>
                        <td>{{ cat.id }}</td>
                        <td>{{ cat.name }}</td>
                        <td>{{ cat.description }}</td> <!-- Add the category description here -->
                        <td>
                            <a href="{% url 'edit_adm_categories' cat.id %}" class="btn btn-success btn-sm">Edit</a>
                            <a href="{% url 'delete_adm_categories' cat.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a href="add_adm_categories" class="btn btn-primary" style="width: 170px;">Add Categories</a>
    </div>
</div>

{% endblock %}
