{% extends 'adm/base.html' %}

{% load static %}

{% block content %}
<div class="card mb-4" style="width: 100%;">
    <div class="card-header">
        <h2>Edit Product</h2>
    </div>
    <div class="card-body">
        <div class="container-fluid mt-4" style="padding: 20px;">
            <form method="post" action="{% url 'edit_adm_product' product.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="name">Product Name</label>
                        <input type="text" class="form-control" id="name" name="edited_product_name"
                            value="{{product.name}}" required>
                    </div>
                    <div class="col-md-6">
                        <label for="category">Category</label>
                        <select class="form-control" id="category" name="edited_category" value="{{product.category}}"
                            required>
                            <option value="gravel_bikes">Gravel Bike</option>
                            <option value="mountain_bikes">Mountain Bike</option>
                            <option value="road_bikes">Road Bike</option>
                            <option value="hybrid_bikes">Hybrid Bike</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="size">Size</label>
                        <select class="form-control" id="size" name="edited_size" value="{{product.size}}" required>
                            <option value="3XS">3XS</option>
                            <option value="2XS">2XS</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="2XL">2XL</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="color">Color</label>
                        <input type="text" class="form-control" id="color" name="edited_color" value="{{product.color}}"
                            required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price" name="edited_price" value="{{product.price}}"
                            required>
                    </div>
                    <div class="col-md-6">
                        <label for="offer_price">Offer Price</label>
                        <input type="text" class="form-control" id="offer_price" name="edited_offer_price"
                            value="{{product.offer_price}}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="quantity">Quantity</label>
                        <input type="text" class="form-control" id="quantity" name="edited_quantity"
                            value="{{product.quantity}}" required>
                    </div>
                    <div class="col-md-6">
                        <label for="discount">Discount (%)</label>
                        <input type="text" class="form-control" id="discount" name="edited_discount"
                            value="{{product.discount}}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="brand">Brand</label>
                        <input type="text" class="form-control" id="brand" name="edited_brand" value="{{product.brand}}"
                            required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="status">Status</label>
                        <select class="form-control" id="status" name="edited_status" value="{{product.status}}"
                            required>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="product_image" class="col-md-2 col-form-label">Image</label>
                        <div class="col-md-10">
                            <input type="file" id="product_image" name="edited_product_image" accept="image/*" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add Product</button>
                </div>
            </form>
        </div>
        {% endblock %}